################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

.vs/
.env
.next/
node_modules/
.vs/
bin/
obj/

