<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_ITimeWS" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:2014/TimeWS.svc" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_ITimeWS" contract="ITimeWS"
                name="BasicHttpBinding_ITimeWS" />
        </client>
    </system.serviceModel>
</configuration>