<p>
  New Tutorial
</p>

<form>
  <div>
    <mat-form-field>
      <mat-label>
        Brand
      </mat-label>
      <mat-select required>
        <mat-option *ngFor="let brand of BrandList" [value]="brand.name">{{brand.name}}</mat-option>
      </mat-select>
    </mat-form-field>
  </div>
  <div>
    <mat-form-field>
      <mat-label>
        Category
      </mat-label>
      <mat-select required>
        <mat-option *ngFor="let cat of CatList" [value]="cat.name">{{cat.name}}</mat-option>
      </mat-select>
    </mat-form-field>
  </div>
</form>
<!-- <div class="request-list" *ngFor="let brand of BrandList">
    <span>{{ brand.name }}</span>
  </div> -->